html(lang="pt-br",ng-app="validations")
	head
		link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css")
		title Validações
	body
		div.container
			div.jumbotron 
				h1.text-center Contatos

			table.table
				thead
					th Nome
					th Email
					th Ações
				tbody
					td junior
					td junior
					td Deletar / Editar	

			a.btn.btn-primary(href="#!/adicionar") adicionar			